@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-card: var(--card);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

:root {
  --card: oklch(1 0 0);
  --primary: oklch(0.5 0.134 242.749);
  --primary-foreground: oklch(0.977 0.013 236.62);
  --accent: oklch(0.5 0.134 242.749);
  --accent-foreground: oklch(0.977 0.013 236.62);
  --destructive: oklch(0.577 0.245 27.325);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0.008 326);
}

.dark {
  --card: oklch(0.212 0.019 322.12);
  --background: oklch(0.145 0.008 326);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.443 0.11 240.79);
  --primary-foreground: oklch(0.977 0.013 236.62);
  --accent: oklch(0.443 0.11 240.79);
  --accent-foreground: oklch(0.977 0.013 236.62);
  --destructive: oklch(0.704 0.191 22.216);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .btn {
    @apply block bg-primary text-primary-foreground px-4 py-2 rounded-md cursor-pointer transition hover:bg-primary/80 font-medium;
  }

  .btn-outline {
    @apply block px-4 py-2 border border-transparent rounded-md cursor-pointer transition font-medium bg-transparent hover:border-neutral-400;
  }
}
